---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.col-1{
  max-width: 33.3333%
  color: #bd5d38 !important;
}
.col-2{
  max-width: 66.6666%
}
